<div class="container" ng-controller="DocumentCtrl">
    <div class="row"> 
        <div class="col-md-1"></div>
        <br>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">New Document</h3>
            </div>
            <div ng-show="fields.length" class="panel-body">
                <form class="form-horizontal" role="form">
                    <div ng-repeat="field in fields" class="form-group">
                        <label class="col-sm-2 control-label">{{field.key}}</label>
                        <div class="col-sm-10">
                            <input ng-model="field.value" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                        <button ng-click="save()" type="submit" class="btn btn-default">Save</button>
                        </div>
                    </div>
                </form>        
            </div>
            <div ng-hide="fields.length" class="panel-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Id</label>
                        <div class="col-sm-10">
                            <input ng-model="documentKEY" type="text" class="form-control" placeholder="Id">
                        </div>
                        <label class="col-sm-2 control-label">Rev</label>
                        <div class="col-sm-10">
                            <input ng-model="documentRev" type="text" class="form-control" placeholder="Rev" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Document</label>
                        <div class="col-sm-10">
                            <textarea ng-model="documentJSON" class="form-control" rows="3" placeholder='{"key":"Document"}'></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-2">
                            <select ng-model="documentType" class="form-control">
                                <option>JSON</option>
                                <option>String</option>
                                <option>Integer</option>
                                <option>Float</option>
                                <option>Boolean</option>
                            </select>                        
                        </div>
                    </div>                    
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                           <button ng-click="create()" type="submit" class="btn btn-primary">Save</button>
                           <button ng-click="cancel()" type="submit" class="btn btn-default active">Cancel</button>
                        </div>
                    </div>
                </form>        
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
