<div class="container" ng-controller="DocumentsCtrl">
    <div class="row"> 
        <div class="col-md-1"></div>
        <br>
        <div class="">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div>
                        <h3 class="panel-title">Document to find</h3>
                    </div>
                </div>
                <div class="panel-body">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label class="sr-only" for="key">Key</label>
                            <input ng-model="id" type="text" class="form-control" id="key" placeholder="Document Key">
                        </div>
                        <button type="submit" ng-click="find(id)" class="btn btn-default">Find</button>
                        <a class="bt bt-primary" href="#/databases/{{database}}/{{bucket}}/ new">Create</a>
                        
                    </form>
                </div>
                <div class="panel-body">
                    <table ng-show="documents.length" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Document</th>
                                <!--
                                <th ng-repeat="(key, value) in documents[0].value">
                                    {{key}}
                                </th>
                                -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="document in documents | objectFilter:searchText">
                                <td><a href="#/databases/{{database}}/{{bucket}}/{{document.key}}">{{document.key.id}}</a></td>
                                <!--
                                <td ng-repeat="(name, value) in document.value">
                                    {{value}}
                                </td>
                                -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
