<div class="container" ng-controller="DocumentCtrl">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Edit Document ID: {{document.content.key.id}}</h3>
            </div>

            <div class="panel-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Id</label>
                        <div class="col-sm-10">
                            <input ng-model="document.content.key.id" type="text" readonly="true" class="form-control">
                        </div>
                        <label class="col-sm-2 control-label">Revision</label>
                        <div class="col-sm-10">
                            <input ng-model="document.content.key.rev" type="text" readonly="true" class="form-control">
                        </div>
                    </div>
                </form>

                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Document</label>
                        <div class="col-sm-10">
                            <textarea style="resize:vertical;" ng-model="document.content.value" class="form-control" rows="auto" cols="auto" ng-enter="saveDocument(document.content)"></textarea>
                        </div>
                    </div>
                </form>

                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">JSON</label>
                        <div class="col-sm-1">
                            <input ng-disabled="!isValidJSON(document.content.value)" ng-model="document.json" type="checkbox" class="form-control" ng-enter="saveDocument(document.content)">
                        </div>
                    </div>
                </form>


                <button ng-click="saveDocument(document.content)" type="submit" class="btn btn-success">Save</button>
                <button ng-click="cancel()" type="submit" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </div>
    <!--
    <input style="opacity:0;width:0px;height:0px" ng-setfocus="document.addRowOnEnter" ng-enter="saveDocument(document.content)">
    -->
</div>
